/* Nav bar css */

.human-nav-right {
    margin-left: 59%;
}

.human-footer {
    color: white;
    padding: 10px;
    text-align: center;
}

.human-index-main {
    margin-bottom: 21.3%;
    margin-top: 13.8%;
}


